@import "tailwindcss";
@import 'prismjs/themes/prism-tomorrow.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.prose {
  @apply text-gray-800;
}

.prose p,
.prose br {
  line-height: 1.4;
  margin: 0.5rem 0;
}

.prose ul {
  list-style-type: disc;
}

.prose ol {
  list-style-type: decimal;
}

.prose ul ul {
  list-style-type: circle;
}

.prose ol ol {
  list-style-type: lower-alpha;
}

.prose pre {
  border-radius: 0.375rem;
  padding: 0.75rem 1rem;
  overflow-x: auto;
  white-space: pre-wrap;
  font-family: var(--font-mono, monospace);
}

.prose pre code {
  font-family: var(--font-mono, monospace);
}

.prose code.code-pre {
  border-radius: 0.375rem;
  padding: 0.75rem 1rem;
  overflow-x: auto;
  white-space: pre-wrap;
  font-family: var(--font-mono, monospace);
  display: block;
}

.prose code.code-pre span {
  background: none;
}

.prose code {
  font-family: var(--font-mono, monospace);
  padding: 0.2rem 0.4rem;
  border-radius: 0.25rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}